<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <!-- Showcase -->
    <section
      class="bg-dark text-light  p-lg-2  pt-sm-3 text-center text-sm-start bbg"
    >
      <div class="container p-5">
        <div class="d-sm-flex align-items-center justify-content-between g-4">
          <div class="px-2">
            <h1>
              Welcome to<span class="text-warning">
                Ivytech Community College Courses
              </span>
            </h1>
            <p class="lead my-4">
              Plan and prepar your future by Choing the best option of class
              offer by Ivytech to invest for your future. the future is today
            </p>
           
          </div>
          <img
            class="img-fluid w-50 d-none d-md-block px-2"
            src="https://www.ivytech.edu/media/oylfdsfp/icls.jpg"
            alt="community picture"
          />
        </div>
      </div>
    </section>
    <section class="pt-5">
      <div class="container pt-2">
        <h2 class="border-bottom mb-3"><%= title %></h2>
        <!-- Your content goes here -->
        <h2>Course name: <%= course.name %></h2>
        <div class="content">
          <p><strong>Subject: </strong><%= course.subject %></p>
          <p><strong>Credit: </strong>  <%= course.credit %> hours</p>
          <p> <strong>Course Description: </strong> <%= course.description %></p>
           <a class=" rounded update" href="" data-doc="<%= course._id %>"> <i class="bi bi-pencil-fill text-dark mx-1"> Edit</i></a>
          <a class="delete rounded " data-doc="<%= course._id %>"> <i class="bi bi-trash text-dark mx-1"> Delete</i></a>
        </div>
      </div>
    </section>

    <%- include('../partials/footer') %> 
    <%- include('../partials/script') %>
  </body>
</html>
