<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav') %>
    <!-- Showcase -->
    <section
      class="bg-dark text-light p-2 p-lg-2 pt-lg-5 pt-sm-5 text-center text-sm-start bbg"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between g-4">
          <div class="px-2">
            <h1>
              Welcome to<span class="text-warning">
                Ivytech Community College Courses
              </span>
            </h1>
            <p class="lead my-4">
              Plan and prepar your future by Choing the best option of class
              offer by Ivytech to invest for your future. the future is today
            </p>
          </div>
          <img
            class="img-fluid w-50 d-none d-md-block px-2"
            src="https://www.ivytech.edu/media/oylfdsfp/icls.jpg"
            alt="community picture"
          />
        </div>
      </div>
    </section>
    <section class="pt-2">
      <div class="container pt-5">
        <!-- Your content goes here -->
        <h1 class="border-bottom">My Courses <span class="h6">Student Name:  <%=user?.fname %> </span></h1>
        <div class="courses content">
          <%= const arrayCourse = user?.studentCourses %>
          <% if (user?.studentCourses.length > 0) { %> <%
          user?.studentCourses.forEach(course => { %>
          <a class="single" href="/courses/<%= course._id %>">
      
              <h2>Course name: <%= course.name %></h2>
              <div class="content">
              <p><strong>Subject: </strong><%= course.subject %></p>
              <p><strong>Credit: </strong> <%= course.credit %> hours</p>
              <p><strong>Course Description: </strong> <%= course.description %></p>

          <% }) %> <% }else{ %>
          <p>No Thing to Show for Now you Haven't add Course Yet Go to courses and Add your Choices Course</p>
          <% } %>
        </div>
      </div>
    </section>
    <script>

      </script>

    <%- include('../partials/footer') %> <%- include('../partials/script') %>
  </body>
</html>
